body {
    margin: 0;
    padding: 0;
}
.section {
    position: relative;
    overflow: hidden;
}
/*第一版*/
.first {
    padding-top: 80px;
    text-align: center;
}
.first .logo {
    height: 190px;
    background: url("../images/logo.png") no-repeat center center;
}
.first .info {
    height: 50px;
    background: url("../images/info_1.png") no-repeat center center;
}
.first .text {
    margin: 40px 0 50px;

}
.first .text img {
    opacity: 0;
    margin: 0 24px;
}
/*第一屏动画*/
.first.current .text img {
opacity: 1;
margin: 0;
transition: all 1s ease-out 0.5s;
}
/*第二版*/
.second {
    position: relative;
}
.second .info {
    position: absolute;
    top: 145px;
    right: 50px;
    width: 700px;
    height: 310px;
    background: url("../images/info_2.png") no-repeat center center;
}
.second .shield {
    position: absolute;
    top: 100px;
    left: 0;
    width: 450px;
    margin-left:100px;
    text-align: center;
}
.second .shield img:nth-child(1) {
    transform: translate(80px, 200px) rotate(30deg);
}
.second .shield img:nth-child(2) {
    transform: translate(380px, 10px) rotate(80deg);
}
.second .shield img:nth-child(3) {
    transform: translate(-20px, 160px) rotate(-70deg);
}
.second .shield img:nth-child(4) {
    transform: translate(500px, 60px) rotate(90deg);
}
.second .shield img:nth-child(5) {
    transform: translate(340px, 50px) rotate(40deg);
}
.second .shield img:nth-child(6) {
    transform: translate(390px, 70px) rotate(-20deg);
}
.second .shield img:nth-child(7) {
    transform: translate(230px, 90px) rotate(-30deg);
}
.second .shield img:nth-child(8) {
    transform: translate(430px, 60px) rotate(50deg);
}
.second .shield img:nth-child(9) {
    transform: translate(-120px, 110px) rotate(20deg);
}
/*第二屏动画*/
.second.current .shield img {
    transform: translate(0, 0) rotate(0deg);
    transition: all 1s ease-out 0.5s;
}
/*第三版*/
.third {
    padding: 0 60px;
}
.third > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third .info {
    width: 631px;
    height: 278px;
    background: url("../images/info_3.png");
}
.third .circle {
    width: 453px;
    height: 449px;
    background: url("../images/circle.png");
}
.third .rocket {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 203px;
    height: 204px;
    background: url("../images/rocket.png");
    transform: translate(500px, 210px);
}
/*第三屏动画*/
.third.current .rocket {
    transition: all 1s ease-in-out;
    transform: translate(980px, -240px);
}
/*第四版*/
.fourth {
    padding: 150px 60px;
    box-sizing: border-box;
}
.fourth > div {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.fourth .search {
    width: 529px;
    height: 320px;
    transform: translateX(-100%);
    position: relative;
}
.fourth .input {
    width: 529px;
    height: 66px;
    background: url("../images/search.png");
}
.fourth .key {
    width: 0;
    height: 22px;
    background: url("../images/key.png");
    position: absolute;
    top: 24px;
    left: 20px;
}
.fourth .wrap {
    position: absolute;
    top: 53px;
    left: 0;
    overflow: hidden;
}
.fourth .result {
    width: 529px;
    height: 372px;
    background: url("../images/result.png");
    transform: translateY(-100%);
}
.fourth .info {
    width: 612px;
    height: 299px;
    background: url("../images/info_4.png");
}
/*第四版动画*/
.fourth.current .search {
    transition: all 1s ease-in-out;
    transform: translateX(0);
}
.fourth.current .key {
    animation: typing 1.5s steps(5) 1.3s forwards;
}
.fourth.current .result {
    transform: translateY(0);
    transition: all 1s  ease-in-out 3.3s;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}
/*第五版*/
.fifth {

}
.fifth > div {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*align-items: center;*/
    /*overflow: hidden;*/
}
.fifth .info {
    /*width: 100%;*/
    height: 134px;
    background: url("../images/info_5.png") no-repeat center center;
    margin: 30px 0;
}
.fifth .broswer {
    width: 1004px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.15);
    flex: 1;
    position: relative;
}
.fifth .leftline,
.fifth .topline,
.fifth .rightline,
.fifth .bottomline {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}
.fifth .leftline,
.fifth .rightline {
    height: 100%;
    width: 1px;
    top: 0;
    opacity: 0;
}
.fifth .leftline {
    left: 0;
    transform: translateY(-100%);
}
.fifth .rightline {
    right: 0;
    transform: translateY(100%);
}
.fifth .topline,
.fifth .bottomline {
    width: 100%;
    height: 1px;
    left: 0;
}
.fifth .topline {
    top: 0;
    transform: translateX(100%);
    opacity: 0;
}
.fifth .bottomline {
    bottom: 0;
}
.fifth .toolbar {
    height: 79px;
    background: url("../images/toolbar.png");
    opacity: 0;
}
.fifth .box {
    position: absolute;
    width: 0;
    height: 25px;
    top: 31px;
    left: 78px;
    opacity: 0;
}
.fifth .box span {
    display: block;
    width: 100%;
    height : 100%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.fifth .extra {
    width: 394px;
    height: 29px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: url("../images/extra.png") no-repeat;
    opacity: 0;
}
.fifth .line {
    width: 100%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    bottom: 30px;
    left: 0;
    opacity: 0;
}
/*第五版动画*/
.fifth.current .leftline,
.fifth.current .rightline {
    transition: all 1s ease-in-out;
    transform: translateY(0);
    opacity: 1;
}
.fifth.current .topline {
    transition: all 1s ease-in-out;
    transform: translateX(0);
    opacity: 1;
}

.fifth.current .toolbar {
    transition: all 1s ease-in-out;
    opacity: 1;
}
.fifth.current .box {
    transition: all 1s ease-in-out;
    width: 910px;
    opacity: 1;
}
.fifth.current .extra,
.fifth.current .line {
    transition: all 1s ease-in-out;
    opacity: 1;
}